= provide :title, @blog.title

h1 = link_to @blog.title, @blog
span.date-time = l(@blog.created_at)

== markdown_to_html(@blog.body, { tables: true, fenced_code_blocks: true }, { filter_html: true })

p = link_to 'Back', blogs_path
p = link_to '編集', edit_blog_path(@blog) if signed_in?
