$base_font_size: 18px;
$base_font_color: #555555;
$link_hover_color: #e01090;

$border_color: #444;
$break_border_color: #eaeaea;

@import url('//fonts.googleapis.com/css?family=Roboto+Slab:400,100,300,700');

body {
  font-family:
    'ヒラギノ明朝 ProN W3',
    'Hiragino Mincho ProN',
    'HG明朝E',
    'ＭＳ Ｐ明朝',
    'ＭＳ 明朝',
    serif;
  font-size: $base_font_size;
  color: $base_font_color;
  line-height: 32px;
}

h2 {
  font-size: 24px;
  font-weight: normal;
  text-align: left;
  border-left: 5px solid $border_color;
  margin: 32px 0 8px 0px;
  padding: 8px 0 8px 8px;
}

h3 {
  font-size: 20px;
  font-weight: normal;
  text-align: left;
  border-bottom: 2px solid $break_border_color;
  margin: 0 0 8px 0;
  padding: 15px 0 5px 0;
}

a {
  color: $base_font_color;

  &:hover {
    color: $link_hover_color;
    text-decoration: underline;
  }
}

header {
  a {
    color: $base_font_color;
    text-decoration: none;

    &:hover {
      color: $link_hover_color;
    }
  }

  h1 {
    margin: 0;
    text-align: center;
  }

  nav {
    margin-top: 16px;
    width: 100%;
    display: flex;
    justify-content: center;

    ul {
      width: 80%;
      margin: 0;
      padding: 0;
    }

    li {
      width: calc(100% / 3);
      text-align: center;
      list-style: none;
      display: inline-block;
    }
  }
}

@media screen and (min-width: 768px) {
  $width: 768px;

  body {
    margin-top: 24px;
  }

  header, article {
    width: $width;
    margin: 0 auto;
  }

  header {
    display: flex;
    justify-content: left;

    h1 {
      width: 70%;
      text-align: left;
      display: inline-block;
    }
  }
}
